/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Dec-2013, 18:54:42
    Author     : camara
*/

.col-md-6
{   
background:green;
border:inset 10px yellow;
border-radius:10px;
}
#leftcol
{ 
background:green;
border:inset 10px #FFFF00;
border-radius:10px;
}
.headtitle
{
text-align:center;
color:#FFFF00;
font-style:italic;
font-size:50px;
}
a 
{
display:block;
background-color:#FFFF00;
margin-left:80px;
padding:10px;
}
ul
{
font-style:italic;
list-style-type:none;
}
li
{
display:inline-block;
}
a:hover{
background-color:#CFCF00;
}
a:active{
background-color:#A6A600;
}
.indexmaintext {
    color:yellow;
    font-style:italic;
    font-size:25px;
    margin: 5%;
}
.indexh1{
        color:yellow;
    font-style:italic;
    font-size:40px;
    text-align:center;
}
.lclheadtitle {
   color: yellow;
   font-style: italic;
   font-size: 40px;
       
}
.mapabouthead {
    font-size: 30px;
    font-style: italic;
    color: yellow;
    text-align: center;
    margin: 5%
}
p {
    font-size: 25px;
    font-style: italic;
    color: yellow;
    margin: 5%;
}